@media (min-width: 1024px)

	.left
		width: 180px

		&__pic.a
			width: 190px

		&__pic.b
			width: 45px

		&__pic.c
			width: 100px

		&__pic.d
			width: 230px

		&__pic.e
			width: 120px
			height: 100px

		&__pic.f
			width: 270px

	.center
		width: 624px

		&__profilepic
			width: 120px
			height: 120px
			margin: 0 10px 20px 0

			img
				width 100%
		h3
			width: 100%

		&__quote
			width: 100%
			height: 50px

			h2
				float: left;

	.right
		width: 180px

		&__pic.right
			float: right

		&__pic.a
			width: 190px

		&__pic.b
			width: 45px

		&__pic.c
			width: 100px

		&__pic.d
			width: 230px

		&__pic.e
			width: 120px
			height: 100px

		&__pic.f
			width: 270px
