@media (min-width: 1024px)

	.contact
		width: 683px
		background: #ccc
		margin: 0
		padding: 0

		&__message
			float: left;
			width: 603px
			height: 500px
			margin: 0
			padding: 0 40px 0 40px

		&__title
			float: left;
			width: 603px
			margin: 20px 0 20px 0
			padding: 0

			h1
				font-size: 30px
				font-weight: 200;
				line-height: 30px

		&__paragraph
			width: 603px
			background-color: #fff
			padding: 0
			margin: 0 0 20px 0

			p
				font-size: 26px
				line-height: 29px

		&__form
			width: 341px
			height: 500px
			background-color: #ccff00
			margin: 0
			padding: 0

		&__row
			width: 331px
			height: 100px
			margin: 20px 5px 10px 5px
			padding: 0
			background-color: #fff

			h4
				font-size: 23px
				line-height: 26px
				padding: 0
				margin: 0 0 8px 0

			input
				width: 291px
				height: 40px
				background-color: #dfdbe5
				margin: 10px 15px 10px 0
				padding: 0 20px 0 20px

			button
				width: 290px
				font-size: 20px;

		button:hover
			width: 100%
			border-bottom 5px 2px solid #252525
