@media (min-width: 1024px)
	.home
		width: 1004px
		margin: 0 0 0 20px
		padding: 0

		&__pictureA
			width: 984px
			height: 984px
			margin: 0 0 20px 0

			img
				width: 100%

		&__menu
			width: 984px
			height: 984px
			margin 40px 0 0 0
