@media (min-width: 1024px)

	.imagebox
		float: left;
		width: 1004px
		background: #ccc url('/jeriblack.jpg')
		border: 5px solid #ccc
		margin: 0
		padding: 0
		// opacity: 0.8

		img
			float: left;
			width: 35%
			margin: 0
			padding: 0
			overflow hidden
			border: 5px solid #ccc
			// opacity: 0.6

	.profile
		float: left;
		width: 1004px
		height: 500px
		background: #ccc url('/jeriblack.jpg')
		border: 10px solid #ccc

		&__about
			float: left;
			width: 1004px
			height: 250px
			background: #fff url('/jeriblack.jpg')
			margin: 20px 0 0 0
			padding: 0

		&__title
			float: left;
			width: 1004px
			background: #fff url('/jeriblack.jpg')
			margin: 0 0 20px 0
			padding: 0

			h1
				font-weight: 500;
				font-size: 35px;
				line-height: 40px
				text-align: center;
				font-family: Lato, Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color #f2f
				text-shadow: #f2f 3px 4px 1.1px;
				font-style oblique
				// opacity: 0.9
				padding 0
				margin 0 0 0 20px
				opacity: 0.8


		&__tinybox
			float: left;
			width: 1004px
			margin: 0
			padding: 0

		&__buttonbig
			float: left;
			width: 320px
			height: 60px
			margin: 10px 0 10px 10px
			background: none

			h2
				float: left;
				width: 100px
				height: 60px
				font-family: Lato, Helvetica, Arial, sans-serif
				font-weight: 600;
				font-size: 24px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color #f2f
				text-shadow: #f2f 3px 4px 1.1px;
				font-style oblique
				background: none
				opacity: 0.8


		&__buttonbig:hover
			border-bottom 5px solid #f2f
			opacity: 0.6

		&__buttonbig.right
			float: right;

		&__bottombox
			float: left;
			width: 1004px
			margin: 0
			padding: 0

			p
				float: left;
				width: 100%
				text-align: center;
				background-color: #CFCFCF;
				color: #252525
				font-size: 24px
				font-weight: 200;
				line-height: 26px
				// padding: 0 20px 0 0
				opacity: 0.6;
				// margin: 20px
				letter-spacing: 2px;


		&__card
			float: left;
			width: 1004px
			// background-color: #CFCFCF;
			margin: 20px 0 0 0
			padding: 0
			// opacity: 0.7
			border-top: 10px solid #ccc

			img
				float: left;
				width: 150px
				margin: 0
				padding: 0
				border-right: 10px solid #cfcfcf
				// opacity: 0.7

		&__databox
			float: left;
			width: 844px
			margin: 0
			padding: 0

			p
				float: left;
				width: 100%
				text-align: center;
				background-color: #CFCFCF;
				color: #252525
				font-size: 25px
				font-weight: 200;
				line-height: 24px
				opacity: 0.6;
				letter-spacing: 2px;
				margin: 120px 0 20px 0
