@media (min-width: 1024px)

	.search
		width: 984px
		padding: 20px 20px 20px 20px

		&__square
			width: 288px
			height: 30px
			margin: 0 20px 0 20px
			padding: 0

			input
				width: 100%
				height: 20px

	.projects
		width: 1004px
		margin: 10px 0 0 10px

	.project
		width: 472px
		height:472px;
		margin: 10px 15px 10px 15px;
