// @media (min-width: 1140px)
//
// 	.contacts
// 		width: 512px
//
// 		&__contact
// 			width: 512px
// 			margin: 0
// 			padding: 0
//
// 		&__title
// 			float: left;
// 			width: 482px
// 			margin: 45px 0 0 15px
// 			padding: 0
//
// 			h1
// 				float: left;
// 				width: 100%
// 				text-align: center;
// 				background-color: #CFCFCF;
// 				color: #252525
// 				font-family: Lato, Helvetica, Arial, sans-serif
// 				font-size: 18px
// 				font-weight: 200;
// 				line-height: 25px
// 				padding: 0
// 				opacity: 0.8;
// 				letter-spacing: 3px;
// 				font-style: oblique;
//
// 		&__paragraph
// 			float: left;
// 			width: 482px
// 			color: #34495E
// 			padding: 0
// 			margin: 25px 0 0 15px
//
// 			p
// 				float: left;
// 				width: 100%
// 				text-align: center;
// 				background-color: #CFCFCF;
// 				color: #252525
// 				font-family: Lato, Helvetica, Arial, sans-serif
// 				font-size: 17px
// 				font-weight: 200;
// 				line-height: 20px
// 				opacity: 0.6;
// 				letter-spacing: 3px;
// 				padding: 0
//
// 	.forms
// 		float: left;
// 		width: 512px
// 		height: 500px
// 		// background: #f2f url('/jericarblack.jpg')
// 		margin: 0
// 		padding: 0
//
// 		&__row
// 			float: left;
// 			width: 280px
// 			height: 100px
// 			margin: 55px 15px 10px 55px
// 			padding: 0
//
// 			h1
// 				float: left;
// 				width: 100%
// 				text-align: center;
// 				color: #ccff00
// 				text-shadow: #ccff00 3px 4px 1.1px;
// 				font-family: Lato, Helvetica, Arial, sans-serif
// 				text-transform: uppercase;
// 				font-size: 23px
// 				font-weight: 200;
// 				line-height: 26px
// 				letter-spacing: 7px;
// 				font-style: oblique;
// 				padding: 0 20px 10px 20px
// 				margin: 0
//
// 			input
// 				float: left;
// 				width: 280px
// 				height: 20px
// 				background-color: #dfdbe5
// 				border-bottom 5px solid #fff
// 				opacity: 0.5
// 				margin: 10px 15px 10px 0
// 				padding: 0 20px 0 20px
//
// 		button
// 			float: left;
// 			width: 190px
// 			height: 60px
// 			font-family: Lato, Helvetica, Arial, sans-serif
// 			font-weight: 500;
// 			font-size: 20px;
// 			text-align: center;
// 			text-transform: uppercase;
// 			letter-spacing: 0.1em;
// 			color #ccff00
// 			text-shadow: #ccff00 3px 4px 1.1px;
// 			font-style oblique
// 			margin: 10px 0 10px 125px
// 			background: none
//
// 		button:hover
// 			width: 100%
// 			border-bottom 5px 2px solid #252525
