@media (min-width: 1140px)

	.search
		width: 984px

		&__square
			width: 288px
			height: 30px
			margin: 0 20px 0 20px
			padding: 0

			input
				width: 100%
				height: 20px

	.projects
		width: 1004px

		&__project
			width: 482px
			height:482px;
			margin: 0 20px 10px 0
