@media (min-width: 1140px)

	.box
		float: left;
		width: 1024px

		img
			float: left;
			width: 100%

	.endbox
		float: left;
		width: 1024px
		height: 828px

		&__about
			float: left;
			width: 553px
			height: 758px
			background: #c9aff2
			margin: 45px 20px 0 20px

		&__title
			float: left;
			width: 100%
			height: 80px
			background:#dfdbe5

			h1
				float left
				width 100%
				padding 20px 0px 0px 0px
				margin 20px 0px 0px 0px
				font-size 40px
				line-height 29px
				color #698dd4
				text-align center

		&__tinybox
			float: left;
			width: 100%
			background: #3a5c9d

		&__buttonbig
			width: 100px
			height: 100px
			margin: 25px 85px 25px 85px


			h2
				font-size 13px
				line-height 18px

		&__buttonbig.right
			float: left;

		&__bottombox
			float: left;
			width: 100%
			background: #3a5c9d

			p
				float left
				width 100%
				padding 0
				margin 0
				font-size 25px
				line-height 29px
				color #f2f
				text-align center

		&__card
			float: left;
			width: 386px
			height: 758px
			background: #698dd4
			margin: 45px 0 45px 20px

			img
				float: left;
				width: 150px
				height: 150px
				border-radius: 100px
				padding: 0
				margin: 20px 120px 20px 120px

		&__databox
			float: left;
			width: 346px
			height: 523px
			background: #3a5c9d
			margin: 0 20px 0 20px

			p
				float left
				width 100%
				padding 0
				margin 0
				font-size 25px
				line-height 29px
				color #f2f
				text-align center
