.oversized

	.left
		.left__pic.a
			img(src='/babycolor2.1.jpg')
		.left__pic.b
			//- img(src='/pro2.1.jpg')
		.left__pic.c
			img(src='/pro2.1.jpg')
		.left__pic.d
			img(src='/jjcolor2.1.jpg')
		.left__pic.e
			//- img(src='/pro2.1.jpg')
		.left__pic.f
			img(src='/fltat2.1.jpg')

	.center
		.center__profilepic
			img(src='/pro.jpg')
		h3 Since I have arrived in Malta, I have met several people that teach me this beautiful skill. This leads me to be excited to continue to learn more and make the most of this opportunity. This leads me to be excited to continue to learn more and make the most of this opportunity.
		.center__quote
			h2 "Moving past the feeling I have always had!"
		h3 As a lawyer graduate from La Plata Public University specializing in corporative law, I have acquired many skills from my experience that have shaped me as a professional, developing my ability to lead work groups and achieving the objectives that each challenge sets for me. I am a highly motivated individual and throughout my career I have shown responsibility and enthusiasm for the tasks assigned to me. I consider myself a proactive and dedicated person whilst having versatility in being able to act as a team player. 

	.right
		.right__pic.a
			img(src='/eyecolor2.1.jpg')
		.right__pic.b
			//- img(src='/jeri2.1.jpg')
		.right__pic.c
			img(src='/gafascolor1.1.jpg')
		.right__pic.d
			img(src='/pro2.1.jpg')
		.right__pic.e
			//- img(src='/pipi2.1.jpg')
		.right__pic.f
			img(src='/mouth2.1.jpg')
