.page
	.imagebox
		img(src='/jericarblack.jpg')
	.profile
		.profile__about
			.profile__title
				h1 {{project.title}}
				h1 cheers mate!
			.profile__tinybox
				.profile__buttonbig
					h2 {{project.category}}
				.profile__buttonbig.right
					h2 YEAR
			.profile__bottombox
				p What about me?
		.profile__card 
			img(src='/pro.jpg')
		
			.profile__databox
				p Let's talk about something else...
