@media (min-width: 480px)

	.header
		background: #fff url('/header480.jpg')

		&__container
			width: 440px

		&__brand
			width: 330px

		&__logo
			width 80px

		&__heart
			font-size: 30px

		&__myname
			width: 250px

			h1
				font-size: 28px;

		&__icon
			width: 110px

		&__bars
			font-size: 25px
