.page
	.contact
		.contact__message
			.contact__title
				h1 Welcome
			
			.contact__paragraph
				p We start this project because we made this place our home...be part of it
			
			.contact__paragraph
				p While some people consider that school education is the answear to achive success, others think that there are many skills non related with it that could develop to be succesful. Furtheremore, if in worklife education is just one part of the thing that your employer is going to value to get the job.
				
	.contact__form
		.contact__row
			h4 Name
			input(placeholder='Name')
		
		.contact__row
			h4 Email
			input(placeholder='Name')
		.contact__row
			button submit

	
	
