.mat-drawer-backdrop
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	// background $blue
	// background $i-blue-light
	opacity .6
	filter unquote('alpha(opacity=60)')
	z-index 600
	overflow hidden
	cursor pointer
