*
	margin: 0
	padding: 0

html
body
	// height 100%
	// min-height 100%
	// font-size 100%
	// margin 0
	// padding 0
	// z-index: 1
	// font-family: 'FuturaStdMedium', sans-serif;
	// background-color: #fff;



body.locked
	overflow hidden

//.wf-loading
//	font-family "usual"
//	visibility hidden
//
//.wf-active
//	visibility visible

img, object, embed
	max-width 100%
	height auto

object, embed
	height 100%

ul
	list-style none

.hide
	display none

.antialiased
	-webkit-font-smoothing antialiased

img
	display inline-block
	vertical-align middle
	-ms-interpolation-mode bicubic

a
	color #777
	text-decoration none
	line-height inherit
	cursor: pointer

a:hover, a:focus, a.active
	cursor pointer
	outline: 0
	-moz-outline: none

a img
	border none

em, i
	font-style italic
	line-height inherit

strong, b
	font-weight bold
	line-height inherit
	color $off-black

small
	font-size 60%
	line-height inherit

#map_canvas
	position relative
	height 100%
	width 100%
	margin 0

.angular-google-map-container
	position absolute
	top 0
	bottom 0
	right 0
	left 0
