@media (min-width: 1140px)

	.header
		padding: 20px 0 10px 0
		margin: 0 0 20px 0

		&__container
			width: 984px

		&__myname
			padding: 0
			margin: 0 0 20px 0

			h1
				font-weight: 500;
				font-size: 38px;
				line-height: 30px

		&__icon
			display: none

		&__navigation
			width: 974px

		&__button
			width: 206px

			h1
				font-size: 22px;

		&__logo.small
			display: none;

		&__logo.large
		&__navigation
			display: block;

		&__logo
			width 100px
			margin: 0 10px 0 0

		&__heart
			font-size: 60px
