@media (min-width: 667px)

	.header
		background: #fff url('/header667.jpg')


		&__container
			width: 587px

		&__brand
			width: 547px

		&__logo
			width 126px

		&__heart
			font-size: 45px

		&__myname
			width: 296px

			h1
				font-size: 30px;

		&__icon
			width: 40px

		&__bars
			font-size: 30px
