@media (min-width: 768px)

	.header
		background: #fff url('/header768.jpg')


		&__container
			width: 728px

		&__myname
			width: 100%
			padding: 0
			margin: 0 0 20px 0

			h1
				float: left;
				width 100%
				font-family: Lato, Helvetica, Arial, sans-serif;
				font-weight: 500;
				font-size: 35px;
				line-height: 30px
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color #ccff00
				text-shadow: #ccff00 3px 4px 1.1px;
				font-style oblique
				padding 0
				margin 0

		&__icon
			display: none

		&__navigation
			float: left;
			width: 718px
			margin: 0
			padding: 0 0 0 10px

		&__button
			float: left;
			width: 142px
			height: 40px
			border-bottom: 4px solid #ccff00;
			background: none;
			box-shadow: #3b3a3f 5px 0 0 0 5px
			padding: 0
			margin 0 10px 0 0

			h1
				font-family: Lato, Helvetica, Arial, sans-serif
				font-weight: 500;
				font-size: 18px;
				text-align: left;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				color #ccff00
				padding 0
				margin 0

		&__logo.small
			display: none;

		&__logo.large
		&__navigation
			display: block;

		&__logo
			width 100px
			margin: 0 10px 0 0

		&__heart
			width: 100%
			font-size: 60px
			color: #ccc
			border-radius: 16px
			opacity 0.9
			padding: 0
			text-align center
