@media (min-width: 20px)

	.left
		float: left;
		width: 30px
		overflow: hidden;
		margin: 0
		padding: 0
		background: none

		&__pic.a
			float: left;
			width: 300px
			// height: 90px
			margin: 0 0 10px -110px
			background: #000

		img
			float: left;
			width: 100%
			// height: 100%

		&__pic.b
			float: left;
			width: 200px
			height: 70px
			margin: 0 0 10px -180px
			padding: 0
			background: #ccc

		&__pic.c
			float: left;
			width: 80px
			height: 40px
			margin: 0 0 10px -10px
			padding: 0
			background-color: #000

		&__pic.d
			float: left;
			width: 300px
			// height: 150px
			margin: 0 0 10px -40px
			padding: 0
			background-color: #fff

		&__pic.e
			float: left;
			width 120px
			height: 100px
			margin:  0 0 10px -100px
			padding: 0
			background-color: #ccc

		&__pic.f
			float: left;
			width: 100px
			// height: 70px
			margin: 0 0 -2px 0
			padding: 0
			background-color: #ccc

	.center
		float: left;
		width: 220px
		// background-color: #f2f
		margin: 0 20px 0 20px
		overflow: hidden;
		padding: 0

		&__profilepic
			float: left;
			width: 80px
			height: 80px
			background-color: #ccc
			margin: 0 10px 20px 0
			padding: 0

			img
				float: left;
				width 100%
				padding 0
				margin 0

		h3
			// float: left;
			width: 100%
			text-align: left;
			// background-color: #fff;
			color: $fulltext_color
			font-family: $fulltext_font
			font-size: 10px
			font-weight: 200;
			line-height: 18px
			opacity: 0.6;
			letter-spacing: 1.5px;
			padding: 0
			margin: 0

		&__quote
			float: left;
			width: 220px
			// height: 50px
			// background-color: #ccc
			// margin: 0 0px 20px 0px
			margin: 12px 0 12px 0
			padding: 0

			h2
				float: left;
				width: 100%
				text-align: center;
				background-color: #fff;
				color: $fulltext_color
				font-family: $fulltext_font
				font-size: 16px
				font-weight: 200;
				font-style: oblique;
				line-height: 20px
				opacity: 0.6;
				letter-spacing: 1.5px;
				padding: 0
				margin: 0

	.right
		float: left;
		width: 30px
		// height 500px
		overflow: hidden;
		background: non
		margin: 0
		padding: 0

		&__pic
			float: right;

		&__pic.a
			width: 300px
			// height: 90px
			margin: 0 -158px 10px 0
			padding: 0
			background: #000

		&__pic.b
			width: 200px
			height: 70px
			margin: 0 -180px 10px 0
			padding: 0
			background: #ccc

		&__pic.c
			width: 100px
			// height: 40px
			margin: 0 -40px 10px 0
			padding: 0
			background: #000

		&__pic.d
			width: 300px
			// height: 100px
			margin: 0 -90px 10px 0
			padding: 0
			background: #fff

		&__pic.e
			width: 50px
			height: 40px
			margin: 0 -35px 10px 0
			padding: 0
			background: #ccc

		&__pic.f
			width: 100px
			// height: 100px
			margin: 0 -2px 10px 0
			padding: 0
			background: #ccc
