@media (min-width: 20px)

	.contact
		float: left;
		width: 320px
		height: 350px
		background: #ccc
		margin: 0
		padding: 0

		&__message
			float: left;
			width: 240px
			height: 320px
			background-color: #f2f
			margin: 0
			padding: 10px 40px 10px 40px

		&__title
			float: left;
			width: 240px
			background-color: #ccc
			margin: 0 0 10px 0
			padding: 0

			h1
				float: left;
				width: 100%
				text-align: center;
				color: #252525
				font-family: Lato, Helvetica, Arial, sans-serif
				font-size: 18px
				font-weight: 100;
				line-height: 20px
				padding: 0
				opacity: 0.8;
				letter-spacing: 3px;
				font-style: oblique;
				// background: none

		&__paragraph
			float: left;
			width: 240px
			background-color: #fff
			padding: 0
			margin: 0 0 10px 0

			p
				float: left;
				width: 100%
				text-align: center;
				background-color: #ccff00;
				color: #252525
				font-family: Lato, Helvetica, Arial, sans-serif
				font-size: 15px
				font-weight: 200;
				line-height: 18px
				opacity: 0.6;
				letter-spacing: 1.5px;
				padding: 0
				margin: 0

		&__form
			float: left;
			width: 240px
			background #aaa
			// height: 140px
			background-color: #f2f
			margin: 0 0 5px 20px
			padding: 10px 20px 0 20px
			// border-radius: 8px

		&__row
			float: left;
			width: 100%
			margin: 0 0 20px 0
			padding: 0

			h4
				float: left;
				width: 100%
				text-align: center;
				color: #000
				// text-shadow: #000 3px 4px 1.1px;
				font-family: Lato, Helvetica, Arial, sans-serif
				text-transform: uppercase;
				font-size: 15px
				font-weight: 200;
				line-height: 20px
				letter-spacing: 7px;
				font-style: oblique;
				padding: 0
				margin: 0 0 8px 0

			input
				float: left;
				width: 198px
				// height: 30px
				background-color: #dfdbe5
				// border-bottom 5px solid #fff
				opacity: 0.5
				margin: 0
				padding: 0 20px
				text-align center

			button
				float: left;
				width: 200px
				height: 60px
				font-family: Lato, Helvetica, Arial, sans-serif
				font-weight: 500;
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color #ccff00
				text-shadow: #ccff00 3px 4px 1.1px;
				font-style oblique
				margin: 0 0 0 20px
				background: none
				border none

		button:hover
			width: 100%
			border-bottom 5px 2px solid #252525
