@media (min-width: 20px)

	.home
		float: left;
		width: 280px
		background: #fff url('/caminito.jpeg')
		margin: 0 0 0 20px
		padding: 0

		&__pictureA
			float: left;
			width: 280px
			height: 280px
			margin: 0 0 20px 0

			img
				float: left;
				width: 100%

		&__menu
			float: left;
			width: 280px
			height: 280px
			margin: 40px 0 0 0
