@media (min-width: 20px)

	.search
		float left
		width: 280px
		margin: 0
		padding: 20px 20px 20px 20px
		background: #f2f url('/caminito.jpeg')


		&__square
			float: left;
			width: 100%
			background: #ccff00
			margin: 20px 0 20px 0
			padding: 0

			input
				float: left;
				width: 100%
				height: 20px
				background-color: #ccc
				border: none

	.projects
		float: left;
		width: 280px
		background-color: #cccccc;
		padding 0
		margin: 20px 0 0 0

	.project
		float: left;
		width: 280px
		height: 280px
		background: #fff url('/jeriblack.jpg')
		margin: 0 20px 20px 20px;

		h1
			float: left;
			width: 100%
			text-align: center;
			background-color: #CFCFCF;
			color:  #252525
			font-size: 18px
			font-weight: 500;
			line-height: 20px
			padding: 0 20px 0 0
			opacity: 0.6;
			// margin: 0
			letter-spacing: 2px;

		h2
			float: left;
			width: 100%
			text-align: center;
			background-color: #CFCFCF;
			color: #252525
			font-size: 14px
			font-weight: 200;
			line-height: 16px
			padding: 0 20px 0 0
			opacity: 0.6;
			// margin: 20px
			letter-spacing: 2px;

		&__buttons
			float left
			width 100%
			margin 0 0 20px 0

		&__button
			float left
			width 90px
			height 30px
			background none
			border-bottom: 3px solid #CFCFCF;
			// border-radius: 16px
			margin 20px 20px 25px 20px
			padding 0

			h4
				float: left;
				width: 100%
				// height: 60px
				font-family: Lato, Helvetica, Arial, sans-serif
				font-weight: 500;
				font-size: 14px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color #ccff00
				text-shadow: #ccff00 3px 4px 1.1px;
				font-style oblique
				// margin: 10px 0 10px 10px
				// padding: 0 20px 0 20px
				background: none

				&__button:hover
					border-bottom 5px solid #ccff00
					opacity: 0.9;
