@media (min-width: 375px)

	.header
		background: #fff url('/header667.jpg')

		&__container
			width: 335px

		&__brand
			width: 277px

		&__logo
			width 53px

		&__heart
			font-size: 35px

		&__myname
			width: 223px

			h1
				font-size: 23px;

		&__icon
			width: 57px

		&__bars
			font-size: 22px
