mat-sidenav-container(fullscreen)
	mat-sidenav(#sidenav, mode='over', [opened]='false')
		.panel
			.panel__spacer
				h2 LUCIA OLMOS
			.panel__buttons
				h1(routerLink='/' routerLinkActive='active') Home
				h1(routerLink='/projects' routerLinkActive='active') Projects
				//- h1(routerLink='/projects' routerLinkActive='active') Articles
				//- h1(routerLink='/media' routerLinkActive='active') Media
				h1(routerLink='/about' routerLinkActive='active') About
				h1(routerLink='/contact' routerLinkActive='active') Contact

		//- .panel__close((click)='closePanel()')
		//- 	<fa-icon [icon]='faCaretLeft' class='panel__caret'></fa-icon>

	mat-sidenav-content
		.content
			header-component
			router-outlet
		footer-component
