@media (min-width: 20px)

	.footer
		float: left;
		width: 100%
		height: 100px
		background: #f2f
		margin: 0
		padding: 0
		// opacity: 0.6

	&__media
			float: left;
			width: 100%
			height: 100px
			background: #ccc

			img
				float: left;
				width: 100%
				height: 100px
