@media (min-width: 20px)

	.header
		float: left;
		width: 100%
		background: #ccc
		background: #fff url('/header480.jpg')
		padding 10px 0 10px 0
		margin: 0 0 20px 0
		border-bottom: 5px solid #3b3a3f

		&__left
		&__right
			display: none;

		&__container
			position: relative;
			width: 280px
			margin: 0 auto;

		&__brand
			float: left;
			width: 250px
			padding: 0
			margin: 0

		&__logo.large
		&__navigation
			display: none;

		&__logo
			float: left;
			width 40px
			padding: 0
			margin: 0

		&__heart
			float: left;
			width: 100%
			font-size: 25px
			color: #ccc
			// color: pink
			opacity 0.9
			text-shadow: #ccff00 3px 4px 1.1px;
			padding: 0
			margin: 0

		&__myname
			float: left;
			width: 210px
			padding: 0
			margin: 0

			h1
				float: left;
				font-family: Lato, Helvetica, Arial, sans-serif
				font-weight: 500;
				font-size: 20px;
				text-align: left;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color #ccff00
				text-shadow: #ccff00 3px 4px 1.1px;
				font-style oblique
				padding 0
				margin 0

		&__icon
			float: left;
			width: 30px
			padding: 0
			margin: 0

		&__bars
			float: right;
			width: 100%
			font-size: 21px
			color #ccff00
			text-align: right
			opacity 0.9
			margin: 0
			padding: 0
