@media (min-width: 320px)

	md-sidenav.md-closed
	.md-sidenav-backdrop
		display none

	md-sidenav
	.mat-drawer-inner-container
		position fixed
		width 320px
		height 100%
		min-height 100%
		bottom 0
		padding 0
		margin 0
		outline none
		background: #fff url('/jeriblack.jpg')
		left 0
		top 0
		z-index 900
		-webkit-transform translate3d(0%, 0, 0)
		transform translate3d(0%, 0, 0)
		overflow scroll

	md-sidenav::-webkit-scrollbar
		width: 0

	md-sidenav.md-closed
		-webkit-transform translate3d(-100%, 0, 0);
		transform translate3d(-100%, 0, 0);

	md-sidenav.md-closed-remove
		display -webkit-flex;
		display -ms-flexbox;
		display flex;
		transition all 1s cubic-bezier(0.25, 0.8, 0.25, 1);

	md-sidenav.md-closed-add.md-closed-add-active,
	md-sidenav.md-closed-remove.md-closed-remove-active
		transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

	md-sidenav.md-locked-open-add,
	md-sidenav.md-locked-open-remove
		position: static;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

	.panel
		float left
		width: 280px
		min-height 100%
		height: 200px
		margin: 20px 0 0 20px
		padding: 0
		border-right $i-black-border
		background: #fff url('/jeriblack.jpg')

		&__spacer
			float left
			width 100%
			height 59px
			padding 10px 0 0 0
			margin 0
			background: #fff url('/jeriblack.jpg')

			h2
				font-family: Lato, Helvetica, Arial, sans-serif
				font-weight: 500;
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color #f2f
				text-shadow: #f2f 3px 4px 1.1px;
				font-style oblique
				padding 0
				margin 0

		&__buttons
			float center
			width 180px
			padding 0
			margin 15px 0 0 0
			text-align center
			text-decoration none
			cursor pointer
			outline none

		h1
			float left
			width 100%
			padding 0
			margin 40px 0 0 0
			font-family: Lato, Helvetica, Arial, sans-serif
			font-weight: 800;
			font-size 19px
			line-height 61px
			background-color: #CFCFCF;
			color #252525
			text-align left
			opacity: 0.8
			letter-spacing: 0.2em
			font-style: oblique;

		&__tile.active
			background $i-blue
			border $i-blue-border

		&__user
			float left
			width 100%
			padding 0
			margin 18px 0 0 0

		&__close
			float left
			width 26px
			height 40px
			padding 0 4px 0 0
			margin 18px 0 0 -1px
			background $i-primary
			border $i-black-border
			border-left none
			border-radius: 0 6px 6px 0
			cursor pointer
			outline none

			.fa-caret-left
				float left
				width 100%
				padding 0
				margin 0
				font-size 26px
				line-height 42px
				color $i-white
				text-align center
				cursor pointer

	.i-menu
		position: absolute;
		width: 300px
		padding: 0 0 0 10px
		margin: 50px 0 0 0px
		z-index 888

		&__icon
			float: left;
			margin: 0 0 0 0px
			padding: 0
			background: #000
			border-radius: 3px 3px 0 0

		&__services
			float: left;
			width: 295px
			margin: 0
			padding: 10px 0px 0px 5px
			border-radius: 8px

		&__marketing
			float: left;
			width: 130px
			margin: 0 10px 10px 7px
			padding: 0
			border-bottom: #323aa8 2px solid

			h4
				float: left;
				width: 100%
				margin: 0 0 5px 0
				padding: 0
				font-size: 12px
				text-align: left;
				color: white

		&__products
			float: left;
			width: 285px
			margin: 0 0 10px 0
			padding: 5px 0 5px 5px
			background: #555
			border-radius: 4px

		&__launch
			float: left;
			width: 127px
			margin: 0 5px 0 0
			padding: 5px 5px 5px 5px
			border-radius: 4px
			background: #706d70

			h5
				float: left;
				margin: 0
				padding: 0
				font-size: 12px
				text-align: left;
				color: white

		&__productbrand
			float: left;
			width: 15px
			height: 15px
			margin: 0 10px 0 0
			padding: 0
			background: blue
			border-radius: 20px

	.i-panel::-webkit-scrollbar
		width: 0 !important
