@media (min-width: 768px)

	.left
		float: left;
		width: 140px
		// height: 500px
		// background: #f2f
		margin: 0
		padding: 0

		&__pic.a
			float: left;
			width: 150px
			// height: 70px
			background-color: #fff
			margin: 0 20px 50px -45px
			padding: 0

		&__pic.b
			float: left;
			width: 25px
			// height: 70px
			margin: 0 0 50px 0
			padding: 0
			background-color: #ccc

		&__pic.c
			float: left;
			width: 70px
			// height: 50px
			margin: 0 0 50px 30px
			padding: 0
			background-color: #fff

		&__pic.d
			float: left;
			width: 190px
			// height: 100px
			margin: 0 0 50px 0
			padding: 0
			background-color: #fff

		&__pic.e
			float: left;
			width: 80px
			height: 60px
			margin: 0 0 50px 0
			background-color: #ccc

		&__pic.f
			float: left;
			width 230px
			// height: 110px
			margin: 0
			padding: 0
			background-color: #ccff00

	.center
		float: left;
		width: 448px
		// height: 500px
		// background-color: #fff
		// margin: 0 20px 0 20px
		// overflow: hidden;
		// padding: 0

		&__profilepic
			float: left;
			width: 110px
			height: 110px
			background-color: #ccff00
			margin: 0 10px 20px 0
			padding: 0

			img
				float: left;
				width 100%
				padding 0
				margin 0
		h3
			// float: left;
			width: 100%
			// text-align: left;
			// // background-color: #fff;
			// color: $fulltext_color
			// font-family: $fulltext_font
			// font-size: 16px
			// font-weight: 200;
			// line-height: 21px
			// opacity: 0.6;
			// letter-spacing: 2px;
			// padding: 0
			// margin: 0

		&__quote
			float: left;
			width: 448px
			height: 50px
			// background-color: #ccc
			margin: 12px 0 12px 0
			padding: 0

			h2
				float: left;
				// width: 100%
				// text-align: center;
				// background-color: #fff;
				// color: $fulltext_color
				// font-family: $fulltext_font
				// font-size: 21px
				// font-weight: 200;
				// font-style: oblique;
				// line-height: 22px
				// opacity: 0.6;
				// letter-spacing: 1.5px;
				// padding: 0
				// margin: 0

	.right
		float: left;
		width: 140px
		// background-color: #f2f
		// height: 500px
		margin: 0
		padding: 0

		&__pic.a
			float: right;
			width: 150px
			// height: 70px
			// background: #000
			margin: 0 -70px 50px 40px
			padding: 0

		&__pic.b
			float: right;
			width: 25px
			// height: 70px
			margin: 0 0 50px 0
			padding: 0
			// background: #ccff00

		&__pic.c
			float: right;
			width: 70px
			// height: 50px
			margin: 0 30px 50px 0
			padding: 0
			// background: #000

		&__pic.d
			float: right;
			width: 190px
			// height: 100px
			margin: 0 0 50px 0
			padding: 0
			// background: #fff

		&__pic.e
			float: right;
			width: 80px
			height: 60px
			margin: 0 0 50px 0
			// background: #ccff00

		&__pic.f
			float: right;
			width: 230px
			// height: 110px
			// margin: 0
			// padding: 0
			background-color: #ccff00
