@media (min-width: 768px)

	.home
		width: 748px
		margin: 0 0 0 20px
		padding: 0

		&__pictureA
			width: 728px
			height: 728px
			margin: 0 0 20px 0

			img
				width: 100%


		&__menu
			width: 728px
			height: 728px
			margin: 40px 0 0 0
