@media (min-width: 768px)

	.search
		width: 728px
		padding: 20px 20px 20px 20px

		&__square
			width: 202px
			height: 30px
			margin: 0 20px 0 20px
			padding: 0

			input
				width: 100%
				height: 20px

	.projects
		width: 748px
		margin: 10px 0 0 10px

	.project
		width: 344px
		height:344px;
		margin: 10px 15px 10px 15px;
