@media (min-width: 480px)

	.left
		width: 50px
		// height: 650px

		&__pic.a
			width: 320px

		&__pic.b
			width: 220px

		&__pic.c
			width: 100px

		&__pic.d
			width: 320px

		&__pic.e
			width: 140px
			// margin:  0 0 10px -25px

		&__pic.f
			width: 110px

	.center
		width: 340px

		&__profilepic
			float: left;
			width: 90px
			height: 90px

			img
				width: 100%
		h3
			font-size: 12px
			font-weight: 200;
			line-height: 27px

		&__quote
			width: 100%

			h2
				font-size: 18px
				font-weight: 200;
				line-height: 22px


	.right
		float: left;
		width: 50px
		// height: 650px

		&__pic
			float: right;

		&__pic.a
			width: 320px

		&__pic.b
			width: 220px

		&__pic.c
			width: 120px

		&__pic.d
			width: 320px

		&__pic.e
			width: 70px
			// margin: 0 -25px 10px 0

		&__pic.f
			width: 120px
