@media (min-width: 480px)

	.contact
		width: 480px

		&__message
			width: 400px

		&__title
			width: 400px

			h1
				font-size: 23px
				line-height: 29px

		&__paragraph
			width: 400px

			p
				font-size: 19px
				line-height: 22px

		&__form
			width: 400px

		&__row
			width: 100%

			h4
				font-size: 20px
				line-height: 25px

			input
				width: 398px

			button
				width: 360px
				height: 60px
				font-size: 20px;

		button:hover
			width: 100%
			border-bottom 5px 2px solid #252525
