@media (min-width: 480px)

	.home
		width: 440px
		margin: 0 0 0 20px
		padding: 0


		&__pictureA
			width: 440px
			height: 440px
			margin: 0 0 20px 0

			img
				width: 100%

		&__menu
			width: 440px
			height: 440px
			margin: 40px 0 0 0
