@media (min-width: 480px)

	.search
		width: 440px

		&__square
			width: 100%
			margin: 20px 0 20px 0

			input
				width: 100%
				height: 20px

	.projects
		width: 460px
		padding 0
		margin: 20px 0 0 0

	.project
		width: 440px
		height:280px;
		margin: 0 20px 20px 20px;
