@media (min-width: 375px)

	.left
		width: 40px

		&__pic.a
			width: 310px

		&__pic.b
			width: 210px

		&__pic.c
			width: 90px

		&__pic.d
			width: 310px

		&__pic.e
			width: 130px

		&__pic.f
			width: 110px

	.center
		width: 255px

		&__profilepic
			float: left;

			img
				width 100%

		h3
			font-size: 11px
			font-weight: 200;
			line-height: 19px

		&__quote
			width: 255px

			h2
				font-size: 17px
				font-weight: 200;
				line-height: 21px

	.right
		width: 40px

		&__pic
			float: right;

		&__pic.a
			width: 310px

		&__pic.b
			width: 210px

		&__pic.c
			width: 110px

		&__pic.d
			width: 310px

		&__pic.e
			width: 60px
			margin: 0 -25px 10px 0

		&__pic.f
			width: 110px
