@media (min-width: 375px)

	.contact
		width: 375px

		&__message
			width: 295px

		&__title
			width: 295px

			h1
				font-size: 23px
				line-height: 29px

		&__paragraph
			width: 295px

			p
				font-size: 16px
				line-height: 19px

		&__form
			width: 295px

		&__row
			width: 100%

			h4
				font-size: 20px
				line-height: 25px

			input
				width: 293px

			button
				width: 255px
				height: 60px
				font-size: 20px;

		button:hover
			width: 100%
			border-bottom 5px 2px solid #252525
