@media (min-width: 375px)

	.home
		width: 355px
		margin: 0 0 0 20px
		padding: 0

		&__pictureA
			width: 335px
			height: 335px
			margin: 0 0 20px 0

			img
				width: 100%

		&__menu
			width: 335px
			height: 335px
			margin: 40px 0 0 0
