@media (min-width: 375px)

	.search
		width: 335px
		margin: 0
		padding: 20px 20px 20px 20px

		&__square
			width: 100%
			margin: 20px 0 20px 0
			padding: 0

			input
				width: 100%
				height: 20px

	.projects
		width: 335px
		margin: 20px 0 0 0

	.project
		width: 335px
		height:280px;
		margin: 0 20px 20px 20px;
