.page
	.search
		.search__square
			input
		.search__square
			input
		.search__square
			input
	.projects
		.project(*ngFor='let project of projects', (click)='viewProject(project.clean)')
			h1 {{project.title}}
			h2 {{project.description}}
			.project__buttons
				.project__button
					h4 {{project.category}}
				.project__button
					h4 {{project.medium}}
