.header
	.header__container
		.header__logo.small
			<fa-icon [icon]='faHeart' class='header__heart'></fa-icon>

		.header__myname
				h1 LUCIA OLMOS
		.header__icon((click)="openPanel()")
			<fa-icon [icon]='faBars' class='header__bars'></fa-icon>		
		.header__navigation
			.header__button
				h1(routerLink='/') Home
			.header__button
				h1(routerLink='/about') About Us
			.header__logo.large
				<fa-icon [icon]='faHeart' class='header__heart'></fa-icon>
			.header__button
				h1(routerLink='/Menu') Menu
			.header__button
				h1(routerLink='/Contact') Contact
