@media (min-width: 667px)

	.left
		width: 60px

		&__pic.a
			width: 330px

		&__pic.b
			width: 230px

		&__pic.c
			width: 110px

		&__pic.d
			width: 330px

		&__pic.e
			width: 150px

		&__pic.f
			width: 120px

	.center
		float: left;
		width: 507px

		&__profilepic
			float: left;
			width: 100px
			height: 100px

			img
				width: 100%
		h3
			font-size: 16px
			font-weight: 200;
			line-height: 36px

		&__quote
			width: 507px

			h2
				font-size: 22px
				font-weight: 200;
				line-height: 30px


	.right
		float: left;
		width: 60px

		&__pic
			float: right;

		&__pic.a
			width: 330px

		&__pic.b
			width: 230px

		&__pic.c
			width: 130px

		&__pic.d
			width: 330px

		&__pic.e
			width: 80px
			// margin: 0 -25px 10px 0

		&__pic.f
			width: 130px
