 @media (min-width: 667px)

	.contact
		width: 667px

		&__message
			width: 587px

		&__title
			width: 587px

			h1
				font-size: 23px
				line-height: 29px

		&__paragraph
			width: 587px

			p
				font-size: 22px
				line-height: 26px

		&__form
			width: 587px

		&__row
			width: 100%

			h4
				font-size: 20px
				line-height: 25px

			input
				width: 585px

			button
				width: 547px
				height: 60px
				font-size: 20px;

		button:hover
			width: 100%
			border-bottom 5px 2px solid #252525
