@media (min-width: 667px)

	.home
		width: 647px
		margin: 0 0 0 20px
		padding: 0

		&__pictureA
			width: 627px
			height: 627px
			margin: 0 0 20px 0

			img
				width: 100%

		&__menu
			width: 627px
			height: 627px
			margin: 40px 0 0 0
