@media (min-width: 667px)

	.search
		width: 627px
		padding: 20px 20px 20px 20px

		&__square
			width: 100%
			margin: 20px 0 20px 0

			input
				width: 100%
				height: 20px

	.projects
		width: 627px
		margin: 20px 0 0 0

	.project
		width: 627px
		height: 280px
		margin: 0 20px 20px 20px
